#main{
	
}

.alert{
	margin-bottom: 0
}

.center{
	text-align: center;
}

.card{
	display: inline-block;
	
	margin: 0 10px 0 10px;
	width: 20rem;
}


.jumbotron h1{
	font-weight: 300;
	font-size: calc(16px + 12 * (1vw / 5));
}

#cock-pic{
	transition: 200ms;
}

#cock-pic:hover{
	filter: brightness(66%);
}

#footer{
	margin-top: 50px;
}

#donate{
	text-align: center;
}